<%- include ('../partials/header'); -%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead" style="font-family:monospace; text-align: center;">Ready for your turn?</p>
            <div class="list-group">
                <li class="list-group-item"> <a href="#">Description</a></li>
                <li class="list-group-item"><a href="#review">Reviews</a> </li>


            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image  %>">
                <div class="caption-full"> 
                    <h4 class="pull-right"> ₹ <%= campground.price  %> / Night </h4>
                    <h4><a><%=campground.name %> </a></h4>
                    <hr>
                    <p ><%=campground.description  %> </p> 
                    <hr>

                    <p ><em>Created by <strong><%= campground.author.username  %></strong> at <%= moment(campground.CreatedAt, "YYYYMMDD").fromNow() %> </em></p>
                 
                    


                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %> 
                    
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id  %>/edit ">Edit</a>
                    <form id="delete-form" action="/campgrounds/<%=campground._id   %>?_method=DELETE " method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                    <% } %> 
                </div>
            </div>



            <div class="well" id="review">
                <h1 class="text-center" style="font-family:fantasy; "><strong>Reviews</strong></h1>

                <% if(!campground.comments.length){ %>
                    <br>
                    <h3 style="text-align: center; font-family: fantasy;">No reviews yet ! Be the first one</h3>
                    <div class="text-right" >
                    
                        <a class="btn btn-success"  href="/campgrounds/<%= campground._id  %>/comments/new ">Leave a Review</a>
                        
                    </div>
                    <% }else{ %> 
                        
                    
                <div class="text-right" >
                    
                    <a class="btn btn-success"  href="/campgrounds/<%= campground._id  %>/comments/new ">Leave a Review</a>
                    
                </div>
               
                <hr>
                <% campground.comments.forEach(function (comment) { %>
                    <div class="row">
                        <div class="col-md-12">


                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.CreatedAt, "YYYYMMDD").fromNow() %></span>
                            <br>
                            <br>
                           
                            <p>  <%= comment.text %> </p>


                               
                            
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id %>/comments/<%=comment._id  %>/edit  ">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%=campground._id %>/comments/<%=comment._id  %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">

                            </form>

                            
                            <% } %> 
                            <hr>
                        </div>
                    </div>
                    
                <% })  %> 

                <% } %> 
            </div>
        </div>
    </div> 
</div>







<%- include ('../partials/footer'); -%>